[
  {{- range $i, $c := .FullCountryInfoAllCountriesResult.TCountryInfo }}
    {{- if $i}},{{ end }}
    {
      "ISOCode": "{{ $c.SISOCode }}",
      "name": "{{ $c.SName }}",
      "capitalCity": "{{ $c.SCapitalCity }}",
      "phoneCode": "{{ $c.SPhoneCode }}",
      "continentCode": "{{ $c.SContinentCode }}",
      "currencyISOCode": "{{ $c.SCurrencyISOCode }}",
      "countryFlag": "{{ $c.SCountryFlag }}",
      "languages": [
        {{- range $j, $l := $c.Languages.TLanguage }}
          {{- if $j}},{{ end }}
          {
            "code": "{{ $l.SISOCode }}",
            "name": "{{ $l.SName }}"
          }
        {{- end }}
      ]
    }
  {{- end }}
]