[
       {{- range $i, $c := .Envelope.Body.FullCountryInfoAllCountriesResponse.FullCountryInfoAllCountriesResult }}
        {{- if $i}},{{ end }}
        {
    "ISOCode": "{{ $c.ISOCode }}",
    "name": "{{ $c.Name }}",
    "capitalCity": "{{ $c.CapitalCity }}",
    "phoneCode": "{{ $c.PhoneCode }}",
    "continentCode": "{{ $c.ContinentCode }}",
    "currencyISOCode": "{{ $c.CurrencyISOCode }}",
    "countryFlag": "{{ $c.CountryFlag }}",
    "languages": [
        {{- range $j, $l := $c.Languages }}
        {{- if $j}},{{ end }}
        {
            "code": "{{ $l.code }}",
            "name": "{{ $l.name }}"
        }
    ]
  }
{{- end }}
]